<% include ../partials/header %>
<header class="masthead">
    <div class="container h-100 hero">
        <div class="col-12 text-center">
            <h1  class="font-weight-light">Welcome to YelpCamp!</h1>
            <p class="lead">View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a New Campground</a>
            </p>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <!-- <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a New Campground</a>
            </p>
        </div>
    </header> -->


<!-- <div class="card-deck">
    <div class="col-md-3 col-sm-6">
        <% for(var i=0; i<campgrounds.length; i++) {%>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="<%= campgrounds[i].image %>" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"><%= campgrounds[i].name %></h4>
                    <p class="card-text"></p>
                    <a href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-primary">More Info</a>
                </div>
        </div>
        <% } %>
    </div>
</div> -->

<div class="card-columns">
<% for(var i=0; i<campgrounds.length; i++) {%>
    <div class="card">
        <img class="card-img-top" src="<%= campgrounds[i].image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= campgrounds[i].name %></h5>
                <p class="card-text"><%= campgrounds[i].description.slice(0, 50) %> ...</p>
            </div>
            <div class="card-footer">
                <a href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-primary">More Info</a>
            </div>
        </div>
<% } %>

</div>
</div>


<% include ../partials/footer %>
